<div class=" container content height-500">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">
                <div id="sky-form3" class="sky-form">
                    <fieldset>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">
                                        نبذة تاريخية عن المعهد الفني للصناعات المتطورة
                                    </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="align-items: center; display: flex; direction: ltr;">
                            <div class="col-md-4 ">

                                <section>
                                    <!--=== Img V2 ===-->

                                    <div class="high-rated techs">

                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                                <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                <li class="rounded-x active" data-target="#carousel-example-generic" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item"> <img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"></div>
                                                <div class="item"><img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"> </div>
                                                <div class="item active"><img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"> </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--=== End Img V2 ===-->
                                </section>
                                <div class="col-sm-1 v-album">
                                    <!--=== Portfolio Box V2 ===-->
                                    <ul class="list-unstyled">
                                        <!-- portfolio-box-v2-->




                                        <li><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImg/Image_13034.jpg"><img class="img-responsive" src="../assets/img/eat/album-view.jpg" alt=""><span class="portfolio-box-v2-in"></span></a></li>
                                        <li style="visibility:hidden;"><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImages/Image_7014.jpg"> <img class="img-responsive " src="../Directory/StudentLifeImages/Image_7014.jpg" alt=""></a>    </li>
                                        <li style="visibility:hidden;"><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImages/Image_7015.jpg"> <img class="img-responsive " src="../Directory/StudentLifeImages/Image_7015.jpg" alt=""></a>    </li>
                                    </ul>
                                    <!--=== End Portfolio Box V2 ===-->
                                </div>


                            </div>
                            <div class="col-md-8">

                                <div class="bg margin-bottom-25">
                                    <div class="blog-twitter-inner">
                                        <dl class="dl-horizontal">
                                            <dt class="width-dt"><i class="fa fa-square color-orange"></i></dt>
                                            <dd>
                                                هو أحد المؤسسات العلمية المتميزة التابعة لوزارة الإنتاج الحربي وتحت اشراف وزارة التعليم العالى
                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                انشىء بالقرار الوزاري المشترك بين وزارة الإنتاج الحربي و وزارة التعليم العالي رقم 1164
                                                بتاريخ 10/9/ 1998
                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                حصل المعهد الفني للصناعات المتطورة علي شهادة جودة التعليم والإعتماد كأول مؤسسة
                                                تعليم عالي تتقدم و تحصل علي هذه الشهادة طبقاً لقرار الهيئة القومية لضمان جودة التعليم

                                                والإعتماد رقم (59) بتاريخ 6 /2/ 2010

                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                تم إعتماد المعهد للحصول علي الرخصة الدولية لقيادةالحاسب الآلي
                                            </dd>



                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">
                                        نظام الدراسة بالمعهد
                                    </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="align-items: center; display: flex; direction: ltr;">
                            <div class="col-md-4">
                                <center>




                                    <div">
                                        <section>
                                            <!--=== Img V2 ===-->

                                            <div class="high-rated techs">

                                                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                                                    <ol class="carousel-indicators">
                                                        <li class="rounded-x" data-target="#carousel-example-generic1" data-slide-to="0"></li>
                                                        <li class="rounded-x" data-target="#carousel-example-generic1" data-slide-to="1"></li>
                                                        <li class="rounded-x active" data-target="#carousel-example-generic1" data-slide-to="2"></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                        <div class="item"> <img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"></div>
                                                        <div class="item"><img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"> </div>
                                                        <div class="item active"><img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png"> </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--=== End Img V2 ===-->
                                        </section>
                                        <div class="col-sm-1 v-album">
                                            <!--=== Portfolio Box V2 ===-->
                                            <ul class="list-unstyled">
                                                <!-- portfolio-box-v2-->




                                                <li><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImg/Image_13034.jpg"><img class="img-responsive" src="../assets/img/eat/album-view.jpg" alt=""><span class="portfolio-box-v2-in"></span></a></li>
                                                <li style="visibility:hidden;"><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImages/Image_7014.jpg"> <img class="img-responsive " src="../Directory/StudentLifeImages/Image_7014.jpg" alt=""></a>    </li>
                                                <li style="visibility:hidden;"><a class="fancybox" data-rel="gallery" title="Congratulations to the Egyptian Academy for Engineering and Advanced Technology on the projects" href="../Directory/StudentLifeImages/Image_7015.jpg"> <img class="img-responsive " src="../Directory/StudentLifeImages/Image_7015.jpg" alt=""></a>    </li>
                                            </ul>
                                            <!--=== End Portfolio Box V2 ===-->
                                        </div>
                                    </div">

                                </center>

                            </div>
                            <div class="col-md-8">
                                <!--/Headline Center V2-->
                                <div class="bg margin-bottom-25">
                                    <div class="blog-twitter-inner">
                                        <dl class="dl-horizontal">
                                            <dt class="width-dt"><i class="fa fa-square color-orange"></i></dt>
                                            <dd>
                                                <span>
                                                    ينقسم المعهد الى خمس شعب هم (الكهرباءوالإلكترونيات -الميكانيكا -الحاسبات -الكمياء- ميكاترونكس )
                                                </span>
                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange"></i></dt>
                                            <dd>
                                                <span>
                                                    مدة الدراسة بالمعهد عامان دراسيان والعام عبارة عن فصلين دراسيين كل فصل دراسي عبارة
                                                    عن (18 أسبوع) دراسة+(2 أسبوع) إمتحانات .
                                                </span>
                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                <span>
                                                    المقررات الدراسية موزعة على الفصول الدراسية بواقـع ستة وثلاثين ساعة دراسية فى
                                                    الإسبوع .
                                                </span>
                                            </dd>

                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                <span>
                                                    الحد الأدنى لمجموع الدرجات للقبول بالمعهد لخريجي الثانوية العامة ، و لخريجي المدارس
                                                    الثانوية الصناعية يحدد بواسطة مكتب تنسيق القبول.
                                                </span>
                                            </dd>
                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>
                                                <span>يتم تنفيذ التدريب العملي لطلبة بالمعهد والتدريب الصيفي بمصانع الهيئة القومية للإنتاج الحربي. </span>
                                            </dd>

                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>



                                                يقبل المعهد فى حدود ( 250) طالب
                                                ويقبل الطلبة الحاصلين على الثانوية العامة تخصص علمي و
                                                دبلوم الصنايع فيما عدا التخصصات الاتية (النسيج – عمارة – زخرفة – نجارة).


                                            </dd>


                                            <dt class="width-dt"><i class="fa fa-square color-orange "></i></dt>
                                            <dd>

                                                طابع التنسيق الخاص بالمعهد الفنى للصناعات المتطورة  رقم 444/3

                                            </dd>


                                        </dl>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>