
<div class="row margin-top-20">
    <div class="col-md-12">
        <h2 class="text-center color-orange">السنة الأولى</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <img id="ContentPlaceHolder1_imgExam" class="img-responsive img-bordered">
        <center>

            <ul class="list-unstyled">
                <!-- portfolio-box-v2-->
                <li>

                    <div id="ContentPlaceHolder1_divfancy" href="../assets/img/123.jpg" class="fancybox img-zoom " data-rel="gallery">
                        <i class="fa fa-search-plus "></i>
                    </div>
                </li>



            </ul>
        </center>

    </div>
    <div class="col-md-6">
        <img src="../assets/img/345.jpg" class="img-responsive img-bordered" alt="">
        <center>
            <ul class="list-unstyled">
                <!-- portfolio-box-v2-->
                <li>
                    <div id="ContentPlaceHolder1_divZoom" class="fancybox img-zoom " data-rel="gallery" href="../assets/img/345.jpg">
                        <i class="fa fa-search-plus "></i>
                    </div>
                </li>



            </ul>
        </center>

    </div>
</div>



<div class="row margin-top-20">
    <div class="col-md-12">
        <h2 class="text-center color-orange">السنة الثانية</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <img src="../assets/img/456.jpg" class="img-responsive img-bordered" alt="">
        <center>
            <ul class="list-unstyled">
                <!-- portfolio-box-v2-->
                <li>
                    <div class="fancybox img-zoom " data-rel="gallery" href="../assets/img/456.jpg">
                        <i class="fa fa-search-plus "></i>
                    </div>
                </li>



            </ul>
        </center>


    </div>
    <div class="col-md-6">
        <img src="../assets/img/789.jpg" class="img-responsive img-bordered" alt="">
        <center>
            <ul class="list-unstyled">
                <!-- portfolio-box-v2-->
                <li>
                    <div class="fancybox img-zoom " data-rel="gallery" href="../assets/img/789.jpg">
                        <i class="fa fa-search-plus "></i>
                    </div>
                </li>



            </ul>
        </center>

    </div>
</div>
<br>