<div class=" container content  ">

    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">
                <div id="sky-form3" class="sky-form">
                    <fieldset>


                        <div class="row">
                            <div class="col-md-4">
                                <center>
                                    <section>
                                        <!--=== View Album V2 ===-->

                                        <img alt="" src="..\assets\training-img\Patterns\train.png" class="img-responsive vision-img " style="margin-top:45px;">


                                        <!--=== End View Album V2 ===-->
                                    </section>
                                </center>
                            </div>
                            <div class="col-md-8">

                                <div class=" headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange"> نبذة تاريخية عن قطاع التدريب</h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div><!--/Headline Center V2-->
                                <p class="bg margin-bottom-25">
                                    يعتبر قطاع التدريب أحد القطاعات التابعة لوزارة الإنتاج الحربي والقطاع منوط بإمداد قطاع الإنتاج الحربي بالعمالة الفنية منذ عام 1957م (قطاع عام) وتم تحويله إلي قطاع حكومي عام 1988م بنفس المهام بــقــرار الـــســـيــد / رئــيـــس الـجــمــهـــوريــة مـــع زيـــادة حجم المنشآت والأعداد القائمة علي العملية التدريبية بالقطاع ( عملي / نظري ).
                                </p>

                                <p class="bg">
                                    ونظراً للتطور التكنولوجي المتسارع تم إضافة معهد فني صناعي فوق المتوسط ، مجمع تكنولوجي ، مركز تدريب مهني بحلوان وتم تحويله إلي مدرسة ثانوية فنية للتعليم المزدوج عام 1995م لمواكبة التطور المقابل بشركات الإنتاج الحربي والتي يقترب عدد العمالة الفنية والإدارية بها أكثر من 35 ألف عامل ولذا فقطاع التدريب هو الجهة القائمة علي إعداد ، رفع كفاءة الكوادر الفنية والإدارية بقطاع الإنتاج الحربي من شركات ووحدات تابعة وذلك رفعاً من علي كاهل الدولة وأيضاً نظراً للتطور التقني والتكنولوجي المتسارع في العلوم الحديثة في العقود الثلاثة الأخيرة فإن الكوادر الموجودة بقطاع الإنتاج الحربي لا تغطي التطور المتسارع فيتم الأستعانة من الجامعات والجهات العلمية من خارج قطاع الإنتاج الحربي لسد الفجوة العلمية بقطاع الإنتاج الحربي.
                                </p>

                                <p class="bg margin-bottom-25">
                                    ويقوم قطاع التدريب أيضاً تخفيفاً عن كاهل الدولة بتأهيل القيادات العليا ، الوسطي ، المتوسطة بمركز إعداد القادة بقطاع التدريب لجميع المستويات الإدارية بقطاع الإنتاج الحربي وذلك بإستقدام كوادر علمية لأن هذه الكوادر هي قيادات المستقبل بقطاع الإنتاج الحربي.
                                </p>
                                <p class="bg margin-bottom-25">
                                    يعتبر قطاع التدريب مركزاً علمياً وقد استفاد قطاع الإنتاج الحربي من الإمكانات الموجودة به وأيضاً لعمل بعثات خارجية في مجالات متعددة علي سبيل المثال برنامج قادة التغيير من الشباب والذي استفاد منه عدد (25) من شباب الإنتاج الحربي بتأهيلهم في أكاديمية (AVIC) الصينية  للحصول علي أفضل العلوم الإدارية التي تخدم قطاع الإنتاج الحربي والدولة وفقاً للتوجيهات السياسية للإهتمام بالشباب لتحسين قطاع الإنتاج الحربي.
                                </p>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>