@using Microsoft.Extensions.Localization


@inject IStringLocalizer<TrainigSectorWebSite.SharedResource> SharedLocalizer
<div class="container-fluid margin-bottom-25">

    <div class="row">
        <div class="col-md-12">
            <div class="bg">
            <div class="history-p">

<div class="wrapper">

    <!--=== News Block ===-->
    <div class="container">
        <div class="text-center margin-bottom-50">


           <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">@SharedLocalizer["Projects"]</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            </div>

        </div>

        <div class="row news-v2">
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="../assets/img/News/Image_01.jpg" alt=""/>
                    <p>
                        <span>26</span>
                        <small>مارس</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light rtl">
                    <h3><a href="../Ar/ProjectDetails.aspx">يعلن قطاع التدريب عن قبول دفعة جديدة بالمدرسة الثانوية </a></h3>
                    <p>وتضمنت شروط الالتحاق 1. السن فى أول أكتوبر 2018 لا يزيد على 18 سنة. 2. اجتياز الكشف الطبى. 3. اجتياز اختبار القدرات الذى يبدأ من 16/7/2018 إلى 27/8/2018 على أن يكون الاثنين من كل أسبوع</p>
                </div>
            </div>
            <div class="col-md-4 sm-margin-bottom-30">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="../assets/img/News/Image_02.jpg" alt=""/>
                    <p>
                        <span>24</span>
                        <small>مارس</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light rtl">
                    <h3><a href="../Ar/ProjectDetails.aspx">يعلن المجمع التكنولوجي بالسلام الحاصل على الاعتماد دوليا من مؤسسة بيرسون البريطانية</a></h3>
                    <p>وتضمنت شروط الالتحاق 1. السن فى أول أكتوبر 2018 لا يزيد على 18 سنة. 2. اجتياز الكشف الطبى. 3. اجتياز اختبار القدرات الذى يبدأ من 16/7/2018 إلى 27/8/2018 على أن يكون الاثنين من كل أسبوع</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v2-badge">
                    <img class="img-responsive" src="../assets/img/News/Image_02.jpg" alt=""/>
                    <p>
                        <span>21</span>
                        <small>مارس</small>
                    </p>
                </div>
                <div class="news-v2-desc bg-color-light rtl">
                    <h3><a href="../Ar/ProjectDetails.aspx">يعلن المـعـهد الفنـي للصـناعات المـتطـورة عـن قبـول دفعـة جـديدةللـعـام الـدراســي</a></h3>
                    <p>وتضمنت شروط الالتحاق 1. السن فى أول أكتوبر 2018 لا يزيد على 18 سنة. 2. اجتياز الكشف الطبى. 3. اجتياز اختبار القدرات الذى يبدأ من 16/7/2018 إلى 27/8/2018 على أن يكون الاثنين من كل أسبوع</p>
                </div>
            </div>
        </div>
    </div>
    <!--=== End News Block ===-->

</div><!--/wrapper-->
</div>
 </div>
 </div>

 </div>
</div>
