<div class="wrapper">
    <div class="container content height-500">

        <div class="profile">
            <div class="profile-body">
                <div class="profile-bio">

                    <div id="sky-form3" class="sky-form">

                        <fieldset>

                            <div class="row">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">نتيجة الطلاب </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>


                            <div id="Div1" class="sky-form">
                                <fieldset>
                                    <section class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-8 row">
                                            <label class="input col col-9">
                                                <i class="icon-append fa fa-chevron-circle-down"></i>
                                                <select class="form-control">
                                                    <option value="0">-- اختر الفصل الدراسي --</option>
                                                    <option selected="selected" value="9">أولى</option>
                                                    <option value="10">ثانية</option>

                                                </select>

                                            </label>
                                            <div class="label resault col col-3">المستوى الدراسي</div>

                                        </section>



                                    </section>
                                    <section class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-8 row">
                                            <label class="input col col-9">
                                                <i class="icon-append fa fa-chevron-circle-down"></i>
                                                <select id="ContentPlaceHolder1_DropSpecify" class="form-control">
                                                    <option value="0">-- اختر التخصص --</option>
                                                    <option selected="selected" value="4">ميكانيكا</option>
                                                    <option value="5">كهرباء والكترونيات</option>
                                                    <option value="6">حاسبات</option>
                                                    <option value="7">كيمياء</option>

                                                </select>

                                            </label>
                                            <div i="" class="label resault col col-3">التخصص</div>

                                        </section>





                                    </section>



                                </fieldset>


                                <footer class="text-center">


                                    <a href="../assets/img/Lectures/Image_3211.jpg" id="ContentPlaceHolder1_downloadref" class="btn-u btn-u-xs btn-u-dark " title="Download Schedule" target="_blank"><i class="fa fa-download"></i>  تحميل</a>


                                </footer>


                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>







        <br>









    </div>
</div>