@using Microsoft.Extensions.Localization


@inject IStringLocalizer<TrainigSectorWebSite.SharedResource> SharedLocalizer

<style>
    .carousel-caption {
        position: relative;
    }

    .carousel-v1 .carousel-caption {
        background: #fff;
    }

        .carousel-v1 .carousel-caption p {
            color: #19477b;
            margin-bottom: 0;
            text-shadow: 0 0px 0px;
            height: 95px;
        }

</style>
<div class="headline-center-v2 headline-center-v2-dark title margin-bottom-25">
    <h2 class="color-orange">@SharedLocalizer["Workshopsandlaboratories"]</h2>
    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
</div><!--/Headline Center V2-->
<!--=== End Recent Title ===-->

<div class="wrapper">

    <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-1">
                        <div class="carousel-inner">
                            <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_19.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم الخراطة</h4><p>
                                        القيام بجميع عمليات الخراطة.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_23.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم الفرايز</h4><p>
                                        القيام بجميع عمليات التفريز الرأسى والأفقى.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_26.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم القشط والثقب</h4><p>
                                        القيام بجميع عمليات القشط والثقب.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_28.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم التجليخ</h4><p>
                                        القيام بجميع عمليات التجليخ السطحى والأسطوانى.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_31.png" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم اللحام الدولي</h4><p>
                                        القيام بجميع عمليات اللحام بالأوكسى استلين واللحام بالقوس الكهربى واللحام بالمقاومة الكهربية واللحام بثانى اكسيد الكربون وعمليات اللحام بالأرجون واللحام بالقوس المغمور.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_33.png" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم اللحام المتقدم</h4><p>
                                        القيام بجميع عمليات اللحام المتقدم بالأوكسى استلين واللحام بالقوس الكهربى واللحام بالمقاومة الكهربية واللحام بثانى اكسيد الكربون وعمليات اللحام بالأرجون واللحام بالقوس المغمور.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_35.png" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل إختبار اللحام</h4><p>
                                        القيام بجميع الاختبارات الميكانيكية على عينات اللحام (اختبار الشد والثني والضغط – قطع وتجهيز وتجليخ وتلميع العينة للفحص الميكرسكوبي – إختبار الصلادة).
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_37.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم تشكيل المعادن</h4><p>
                                        القيام بجميع العمليات الخاصة بأعمال الصاج والحدادة والكريتال وأعمال الألومنيوم.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_39.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم البرادة والشنكرة</h4><p>
                                        القيام بجميع العمليات الخاصة بأعمال البرادة والشنكرة.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_42.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                قسم المعالجات الحرارية</h4><p>
                                        مجموعة عمليات تعدينية لتحسين&nbsp;الخصائص الفيزيائية&nbsp;وأحياناً&nbsp;الكيميائية&nbsp;للمعادن، وينتج عن ذلك التحكم في مدى صلابة وليونة المنتج&nbsp;وتقسم المعالجة الحرارية إلى عدة أقسام كلاً على حسب طريقة التبريد، إذ أن كل أنواع المعالجة الحرارية تتشابه في مراحل التسخين إلا أنهم يختلفون في عملية التبريد.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_43.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل القياسات المترولوجية</h4><p>
                                        القيام بجميع عمليات القياسات المترولوجية.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_45.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل القياسات السطحية المتقدمة</h4><p>
                                        القيام بجميع عمليات القياسات السطحية المتقدمة.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_47.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل الرواتر</h4><p>
                                        القيام بجميع أعمال الحفر والقطع على البلاستيك والأخشاب.
                                    </p>
                                </div>
                            </div>          <div class="item active" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_49.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل تجهيز العينات</h4><p>
                                        القيام بجميع عمليات تجهيز العينات المختبرة.
                                    </p>
                                </div>
                            </div>  <div class="item">
                                <center>  <img alt="" src="../assets/img/Lab/Image_50.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                 اختبار المواد الهندسية</h4><p>
                                        القيام بجميع عمليات اختبار المواد الهندسية (ائتلافية وغير ائتلافية)
                                    </p>
                                </div>
                            </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-1" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-1" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3">     <h2 class="text-center color-orange f-w">     ورش هندسة الإنتاج</h2>  </div>
            </div>
        </div>
    </div> <div class="margin-bottom-40"><div class="container">  <div class="row">     <div class="col-md-9">    <div class="carousel slide carousel-v1" id="myCarousel-2">       <div class="carousel-inner">          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_20.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل اختبار المواد الهندسية</h4><p>يقوم المعمل بقياس الخواص الميكانيكية للمواد ( معادن حديدية وغير حديدية – سيراميك – مطاط – بلاستك – الياف – الخ ) وقياس الزحف وقياس الشد ( الضغط – الانحناء ) وقياس الصدمة وقياس الصلادة وفحص سطح العينات بالميكروسكوب الضوئى.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_21.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الانتقال الحرارى</h4><p>يقوم المعمل بدراسة معامل انتقال الحرارة بالتوصيل للاجسام الصلبة والسوائل والغازات وانواع المبادلات الحرارية وكفائتها ومعامل انتقال الحرارة بالحمل وكمية الحرارة المتنقلة للهواء وكفائة دائرة التبريد والقيم الحرارية للوقود لانواع مختلفة من الوقود والضاغط الترددى ذو المرحلتين وقياس الخصائص المانومترية وقياس الطاقة الحرارية المتنقلة منه للهواء ومحركات الاحتراق الداخلى وكفائتها.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_22.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل ميكانيكا الموائع</h4><p>يقوم المعمل بدراسة الظواهر لحركة المائع والمشاكل التى ينتج عنها و قباس انواع التدفق المختلفة للمانع و قياس الفواقد و قياس اداء الطلمبات من حيث الضغط والتدفق والارتفاع والقدرة والكفائة للمائع ودراسة وحلول المشاكل الصناعية مثل (شبكات الموائع بمحطات المياة والصلات المائية – تصميم الدوائر الهيدروليكية – تطبيقات ميكانيكا الهواء).</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_24.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الماكينات الرقمية (CNC)</h4><p> يقوم المعمل بالتدريب على الرسم والتصميم الميكانيكى بالحاسب و انظمة برمجة الماكينات الرقمية المحكومة بالحاسب والتصنيع الميكانيكى بواسطة ماكينات التشغيل الرقمية.</p>      </div>  </div>          <div class="item active" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_25.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الميكاترونكس</h4><p>يقوم المعمل بالتدريب على تقنيات التصميم والتصنيع المتقدم ونظم التصنيع الالى المتقدم FMS   والتصميم الهندسى باستخدام الكمبيوتر CAD وباستخدام الكمبيوتر CAM ودراسة الروبوت واستخداماته المختلفة فى خطوط الانتاج وتصميم الدوائر الهيدروليكية والنيوماتيكية وعمل برامج الــ PLC ودراسة أنواع المستشعرات Sensors واستخدامها فى دوائر التحكم.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_27.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الألياف الضوئية</h4><p> يقوم المعمل بالتدريب على فن توصيل الشبكات المختلفة وامكانية اختبار ولحام كوابل الالياف الضوئية وتركيب نهايات الاطراف و اختبار وتحديد خصائص الالياف الضوئية باستخدام جهاز (cable analyzer   ) و اختبار الالياف الضوئية ومعرفة معدل الفقد لطول الكابل باستخدام جهاز (otdr  ) ولحام كابلات الالياف الضوئية باستخدام جهاز ( fusion splicer  ) واختبار توصيلات الكابلات النحاسية باستخدام جهاز ( meter cable  ).</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_29.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل التحكم الالى</h4><p>يقوم المعمل بتصميم أنظمة التحكم الالى المبرمج  لتشغيل المصانع وخطوط الانتاج وغيرها والتشغيل التخيلى (المحاكى) لنظام التحكم وتقييمة قبل التنفيذ وعمل نماذج حقيقية مصغرة لمجال التطبيق لاختبار نظام التحكم دون الرجوع الى المصنع المصمم له.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_30.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                 معمل الحاكمات المنطقية المبرمجة (PLC)</h4><p>يقوم المعمل بالتدريب على برمجة الحاكم المنطقى المبرمج من نوع SIEMENS S۷-۳۰۰  المستوى الأول والثاني وإختبار البرامج بإستخدام وحدة محاكاة وتطبيقات عملية (محاكاة عملية خلط المواد الصناعية والاسطوانات النيوماتية) و  الـ(SCADA)  التحكم و المراقبه عن بعد  باستخدام برنامج wincc- wincc flexible ومتحكمات المحركات الكهربية (micro master mm٤).</p>      </div>  </div>  <div class="item">           <center>  <img alt="" src="../assets/img/Lab/Image_32.png" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معامل البرمجيات وشبكات الحاسب</h4><p>تقوم المعامل بالتدريب في العديد من المجالات في أنظمة إدارة قواعد البيانات بإستخدام الأوراكل وخدمات وتصميم وإعدادات الشبكات وتصميم مواقع الأنترنت وتصميم الرسومات و مبادىء البرمجة ولغات البرمجة المختلفة.</p>      </div>  </div> </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-2" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-2" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div> </div>  </div>  <div class="col-md-3">     <h2 class="text-center color-orange f-w">     المعامل الهندسية</h2>  </div>    </div> </div>  </div> <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-3">
                        <div class="carousel-inner">
                            <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_34.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الاجهزة الدقيقة</h4><p>يختــص بـاجـــراء التحـاليل الكيميائيـة باستخدام تقنيــات مختلفـة مثل الطـرق الطيفيـة باستخدام الأشعـة الفـوق بنفسجيـة والأشعة تحت الحمراء وطــرق الأمتصـــاص الـذرى وطـــرق الفصــل الكــرومــاتـوجــرفـى والتحــاليـــــل اللـونيــــة.</p>      </div>  </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/Lab/Image_36.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل الكيمياء الكهربية</h4><p>
                                        يختـص بالطـــرق الكهـربية المستخدمة فى إجراء التحاليـــل الكيميــائيــة وتشمــل أجهــزة التوصيـل الكهــربــى وتطبيقــاتهـا المختلفـة وكــذلك أجهــزة التحليــــل الكهــــربـــى وتطبيقـــاتهــــا المتعـــــددة وأجهـــزة قيـــاس معــــدلات التـــآكــــل للمعــادن.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_38.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الكيمياء العضوية</h4><p>يختـــص بتحـــديـــد العنـاصـر الأسـاسية للمركبات العضـويـة وتحضيرها وتعييـن الخواص الكيميائية والفيـــزيـــائيــــة لهــــا وللأحمــــاض العضــــوية والكحـــولات والفينـــولات والإيثـــرات وتطبيقاتها المتعــــددة فـــى مجــــال الصنـــاعـــــة  والزراعة وإجــــــــراء التجـــــــــارب العمليـــــــــة علــــــى المنتجــــــات البتـــــروليـــــة المختــلفــــــــة .</p>      </div>  </div>          <div class="item active" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_40.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الهندسة البيئية</h4><p>يختــص بــرصـــد التلـوث البيئى فى الهواء والماء والتــربــة وطــرق التحكــم والــوسـائـل المختلفـة لمعالجـــــة هـــــذا التلــــوث.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_41.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الكيمياء العامة</h4><p>يختــص بالتحــاليـــل الـــوصفيـة للأملاح البسيطة وإجــراء التحـــاليـــل الحجمية والوزنية لمحاليلها وتطبيقـاتهـا فـى معالجـة المياه للأغراض المنزلية والصنـاعيـة والـزراعية وإجراء التجارب المعملية لتعييــــن الخــــــواص الفيـــزيــائيــة والكيميــائيـة الأســـاسيـــــة للمـــــواد الصلبــــة و الســـائلـــة.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_44.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الكيمياء الغير عضوية</h4><p>يختــــص بتحضيـــر المــــواد الغيــــر عضـــويــة وتحــــديـــد نـــوعيــــة وكميـــة العنــــاصـر بـدقـة وطــــرق القيــــاس المستخــــدمـــــة فــــــــى ذلك وأيضــــا تحــــديـــد درجـــة نقــــاء المـــواد الغيـر عضـــويـــة وطــرق فصــل العينـات المختلفــــة.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_46.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الكيمياء الفيزيائية</h4><p>يختــــص بتعييــــن الخــــواص الفيــــزيــــائيـــــة والكيميـــــائيــــة للغــــازات والمحــاليـل والتجارب المعمليـــة الخـاصـة بالكيمياء الحرارية والتغيرات فــى الطـاقـة المصاحبـــة للتفـــاعــلات الكيميائيــة وقـيـــاســــات التـــــوصيـــــل الكهــــربــــــى.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_48.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الهندسة الكيميائية</h4><p>يختـص بتخليــق المـــركبـــات الكيميـــائيـــة مــن المــــواد الخـــام الاوليــة مستخــدمـــا دينــاميكيـة التفـــاعــلات الكيميـــائيـــة والــدينـاميكا الحرارية ويشمـــل العمليــــات الأســــاسيـــة المستخـــدمـة فــى الصنـــاعـات الكيميائية وهى عمليات التقطير والأستخــلاص والتــرشيـــح والتقليـب والخـــــلط  والطحن والنخل وكيفية التحكم فى هذه العمليات.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/Lab/Image_51.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل البوليمرات</h4><p>يختـــص بتحضيـــر البـــوليمـرات وتعييـن وأختبار خواصهــا الفيـــزيــائيـة والكيميـائيـة والميكانيكيـة كــالمتـــانـــة والمــرونــــة والصــلادة والسيـــولة واللــــزوجــة وإجــراء المعــالجـــــة الكيميـــائيــة للبـــوليمـــرات المستخــــدمــــة فـــى صنـــــاعــة المـــــواد البــــلاستيكيــــة والمطــــاط والبـويـات.</p>      </div>  </div>  <div class="item">           <center>  <img alt="" src="../assets/img/Lab/Image_53.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الفيزياء</h4><p>يختـــص بالتحـــاليـــل الـوصفية للأملاح البسيطة وإجـــراء التحاليــل الحجميــة والـوزنية لمحاليلها وتطبيقـاتهـا فى معالجـة المياه للأغراض المنزلية والصنـاعيـة والزراعية وإجراء التجارب المعملية لتعييـــن الخــــواص الفيـــــزيـــــائيــة والكيميائية الأســــاسيــــة للمـــــواد الصلبــــة و السـائلــــة.</p>      </div>  </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-3" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-3" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3">     <h2 class="text-center color-orange f-w">     المعامل الكيميائية</h2>  </div>
            </div>
        </div>
    </div>

</div>
