
@{
    ViewData["Title"] = "Home Page";
}

    <style >
    .breadcrumbs {
        display: none;
    }

    #map {
        height: 250px;
        font-family: 'DroidArabicKufi' !important;
    }
</style>


<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider ">
        <div class="da-slide da-slide-current">
            <h2><br /><i>مركز اعداد القادة </i></h2>
            <p class="p-slider"><i>يهدف المركز الى تطوير البرامج التدريبية  النوعية</i> <br /> <i>ودعم سياسات التطوير والتدريب التقني والمهني</i> <br /> <i>والإرتقاء بالقدرة التنافسية للموارد البشرية بالإنتاج الحربي</i></p>
            <div class="da-img">
                

                <img alt="" src="../assets/img/kyady.jpg" class="img-responsive vision-img " style="height:300px;" />

            </div>
        </div>
        <div class="da-slide ">
            <h2>
                <br />
                <i>المعهد الفني للصناعات المتطورة</i>
            </h2>
            <p class="p-slider">
                <i>يقدم خدمة تعليمية وتدريبية وفقاً لمعايير </i> <br />
                <i>الهيئة القومية لضمان جودة التعليم </i><br />
                <i> ويتميز الخريج بالكفاءة الفنية وميزة تنافسية في مجال العمل</i>
            </p>
            <div class="da-img">
                

                <iframe src="https://www.youtube.com/embed/PLw1odU4m64" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

              
            </div>
        </div>

        <div class="da-slide">
            <h2><br /><i>المجمع التكنولوجي المتكامل </i></h2>
            <p class="p-slider">
                <i>النهوض بالتعليم الفني كمركز نموذجي متكامل </i> <br />
                <i>يلبي إحتياجات سوق العمل ونقل الخبرة</i> <br />
                <i> من المؤسسات التعليمية العالمية في مجال التعليم الفني</i>
            </p>
            <div class="da-img">
                <iframe src="https://www.youtube.com/embed/MJNBkKze5_8" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>مدرسة حلوان الثانوية للتكنولوجيا التطبيقية</i> <br /> <i> للتعليم المزدوج</i></h2>
            <p class="p-slider">
                <i>تأهيل وتدريب الطلبة على مهارات العمل  داخل المنشآت الصناعية </i> <br />
                <i>حاصلة على  شهادة  الجودة من الهيئة المصرية لإعتماد جودة التعليم  </i>
            </p>
            <div class="da-img">
                <iframe src="https://www.youtube.com/embed/FlmS3HaSKVY" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

              
            </div>
        </div>

        <div class="da-slide">

            <h2><i>التقديم والقبول لدفعه جديدة  </i> <br /> <i> بمدرسة السلام للتكنولوجيا التطبيقية </i></h2>


            <div class="da-img">
                <a href="News.aspx" target="_blank">
                    <img class="img-responsive" src="../assets/training-img/Elsalam.jpg" alt="image01" style="width:530px; height:300px;" />
                </a>
            </div>
        </div>

        <div class="da-slide">

            <h2><i>التقديم والقبول لدفعه جديدة  </i> <br /> <i> بمدرسة حلوان الثانوية للتكنولوجيا التطبيقية </i></h2>


            <div class="da-img">
                <a href="/New/Index" target="_blank">
                    <img class="img-responsive" src="../assets/training-img/helwan2.jpg" alt="image01" style="width:530px; height:300px;" />
                </a>
            </div>
        </div>


        <div class="da-arrows">
            <span class="da-arrows-next"></span>
            <span class="da-arrows-prev"></span>

        </div>
       
    </div>
</div>
<!--=== End Slider ===-->
<!--/Start wrapper-->
<div class="wrapper">

    <!--=== Content Part ===-->
    <div class="container-fluid margin-bottom-25">

        <!-- Recent Works -->
        <div class="row margin-bottom-20 margin-top-60">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <a href="../Ar/Under_Construction.aspx">
                            <div class="overflow-hidden">
                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/05.jpg" alt="" />
                            </div>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <a href="/TrainingHistory/Index">
                            <div class="overflow-hidden">
                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/03.jpg"  alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a href="/Services/Index">
                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/08.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">

                        <div class="overflow-hidden">
                            <a href="/TrainingHistory/Index">
                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/01.jpg" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a href="../Ar/VideoStory.aspx">

                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/04.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a href="../Ar/Opinion.aspx">
                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/06.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a href="/News/Index">
                                <img class="img-responsive img-bordered" src="../assets/training-img/News.jpg"  alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a href="../Ar/Tender.aspx">

                                <img class="img-responsive img-bordered" src="../assets/img/training/minis_Page/07.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Works -->

    </div><!--/container-->
    <!-- End Content Part -->

    <div>
     

        <div id="map" height="250" width="100%"></div>

        <script>

            // This example displays a marker at the center of Australia.
            // When the user clicks the marker, an info window opens.

            function initMap() {

                var uluru = { lat: 30.177360, lng: 31.431396 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: uluru
                });

                var contentString = '<div id="content">' +
                '<div id="siteNotice"><b>' +
                '</div>&nbsp;&nbsp;' +
                'قطاع التدريب' +
                '<div id="bodyContent">' +
                'وزارة الإنتاج الحربي ' +
                '</div>' +
                '</b></div>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map,
                    title: 'قطاع التدريب'
                });

                infowindow.open(map, marker);
                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC13syEbyihukkyThDVxZpkBmuG-9czQNY&#10&callback=initMap">
        </script>



      

    </div>


</div>
<!--/End wrapper-->
