<div class=" container content height-500">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">
                <div id="sky-form3" class="sky-form">
                    <fieldset>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">
                                        تنبيهات
                                    </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="align-items: center; display: flex; direction: ltr;">
                            <div class="col-md-4 ">

                                <section>
                                    <!--=== Img V2 ===-->

                                    <div class="high-rated techs">

                                        <div class="item">
                                            <img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png">

                                        </div>

                                    </div>
                                    <div class="bg margin-bottom-25">
                                        <div class="blog-twitter-inner">
                                            <dl class="dl-horizontal">

                                                <dd>
                                                    تنبيه 1
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>

                                    <!--=== End Img V2 ===-->
                                </section>



                            </div>

                            <div class="col-md-4 ">

                                <section>
                                    <!--=== Img V2 ===-->

                                    <div class="high-rated techs">

                                        <div class="item">
                                            <img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png">

                                        </div>

                                    </div>
                                    <div class="bg margin-bottom-25">
                                        <div class="blog-twitter-inner">
                                            <dl class="dl-horizontal">

                                                <dd>
                                                    تنبيه 2
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>

                                    <!--=== End Img V2 ===-->
                                </section>



                            </div>

                            <div class="col-md-4 ">

                                <section>
                                    <!--=== Img V2 ===-->

                                    <div class="high-rated techs">

                                        <div class="item">
                                            <img class="img-responsive img-bordered " alt="" src="../assets/img/log1-T.png">

                                        </div>

                                    </div>
                                    <div class="bg margin-bottom-25">
                                        <div class="blog-twitter-inner">
                                            <dl class="dl-horizontal">

                                                <dd>
                                                    تنبيه 2
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>

                                    <!--=== End Img V2 ===-->
                                </section>



                            </div>



                        </div>






                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>