<div class=" container content height-500 ">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-back">
                <div id="sky-form3" class="sky-form">
                    <fieldset>
                        <div class="row headline-center-v2 headline-center-v2-dark title">
                            <h2 class="color-orange">شهادات معتمدة</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <ul class="list-unstyled row portfolio-box">
                                    <li class="col-md-6"></li>
                                    <li class="col-md-6 md-margin-bottom-50">
                                        <a class="thumbnail fancybox" data-rel="gallery" href="../assets/img/certificate/Momaa/btech.jpg">
                                            <img class="full-width img-responsive img-bordered" src="../assets/img/certificate/Momaa/btech.jpg" alt="">
                                            <span class="portfolio-box-in">
                                                <i class="rounded-x fa fa-search-plus"></i>
                                            </span>
                                        </a>
                                        <div class="headline-left margin-bottom-10"><h3 class="headline-brd">شهادة "بي تك" من مركز بيرسون</h3></div>
                                    </li>



                                </ul>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </fieldset>


                </div>
            </div>

        </div>




    </div>
</div>