<div id="ContentPlaceHolder1_UpdatePanel1">


    <div class="container content height-500">
        <div class="profile">
            <div class="profile-body">
                <div class="profile-bio">
                    <div id="sky-form3" class="sky-form">
                        <fieldset>

                            <div class="row">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">الجداول الدراسية </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>


                            <div id="Div1" class="sky-form">
                                <fieldset>
                                    <section class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-8 row">
                                            <label class="input col col-9">
                                                <i class="icon-append fa fa-chevron-circle-down"></i>
                                                <select name="ctl00$ContentPlaceHolder1$DropClass" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$DropClass\',\'\')', 0)" id="ContentPlaceHolder1_DropClass" class="form-control">
                                                    <option selected="selected" value="0">-- اختر الفصل الدراسي --</option>
                                                    <option value="9">أولى</option>
                                                    <option value="10">ثانية</option>

                                                </select>

                                            </label>
                                            <div class="label resault col col-3">المستوى الدراسي</div>

                                        </section>



                                    </section>
                                    <section class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-8 row">
                                            <label class="input col col-9">
                                                <i class="icon-append fa fa-chevron-circle-down"></i>
                                                <select name="ctl00$ContentPlaceHolder1$DropSpecify" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$DropSpecify\',\'\')', 0)" id="ContentPlaceHolder1_DropSpecify" class="form-control">
                                                    <option selected="selected" value="0">-- اختر التخصص --</option>
                                                    <option value="4">ميكانيكا</option>
                                                    <option value="5">كهرباء والكترونيات</option>
                                                    <option value="6">حاسبات</option>
                                                    <option value="7">كيمياء</option>

                                                </select>

                                            </label>
                                            <div id="ContentPlaceHolder1_Specify" class="label resault col col-3">التخصص</div>

                                        </section>





                                    </section>



                                </fieldset>


                                <footer class="text-center">
                                </footer>


                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>