<div class="headline-center-v2 headline-center-v2-dark title margin-bottom-25"> <h2 class="color-orange"> شعبة الميكانيكا </h2> <span class="bordered-icon"><i class="fa fa-th-large"></i></span></div>
<div class="wrapper">

    <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-13">
                        <div class="carousel-inner">
                            <div class="item active" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_29.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل التحكم الهيدروليكي</h4><p>يتم تدريب الطلاب علي تصميم وبناء أنظمة ودوائر التحكم الهيدروليكي والالكتروهيدروليكي والتحكم فيها باستخدام عناصر التحكم الهيدروليكي المختلفة.</p>      </div>  </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_30.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل التحكم النيوماتي</h4><p>
                                        يتم تدريب الطلاب علي تصميم وبناء أنظمة ودوائر التحكم النيوماتي والالكترونيوماتي ودوائر التتابع النيوماتية المختلفة وأساسيات أنظمة التحكم المنطقي المبرمج (plc).
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_31.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل عناصر الاحساس والقياس</h4><p>يتم تدريب الطلاب علي أنواع المستشعرات التقاربية وخصائصها وكذلك التدريب علي المستشعرات الصناعية مثل (الضغط / التدفق / السرعة والإزاحة).</p>      </div>  </div>  <div class="item">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_32.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                ورشة الهيدروليك والنيوماتيك</h4><p>
                                        يتم تدريب الطلاب علي أعمال الفك والتركيب للعناصر الهيدروليكية والنيوماتية المختلفة وكذلك التدريب علي أعمال الفحص وتتبع واكتشاف وإصلاح الأعطال في دوائر الهيدروليك والنيوماتيك.
                                    </p>
                                </div>
                            </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-13" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-13" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3"><a href="">    <h2 class="text-center f-w">     تخصص فني معدات هيدروليك/ نيوماتيك</h2> </a>  </div>
            </div>
        </div>
    </div> <div class="margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-14">
                        <div class="carousel-inner">
                            <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_38.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل التبريد</h4><p>التعرف علي المكونات ووظيفة كل جزء لأى نظام تبريدي والتدريب علي قياس درجة الحرارة والضغوط وتمثيل الاجراءات علي محاور الضغط والانثالبيا والتعرف علي وحدات التبريد البسيطة والمتعددة الحمل وحساب معدل التدفق والقدرة ومعامل الاداء لوحدات التبريد واكتساب مهارة الفك والتركيب والتفريغ والشحن والتدريب علي تتبع واكتشاف الاعطال وكيفية اصلاحها.</p>      </div>  </div>          <div class="item active" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_40.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل التكييف</h4><p>
                                        التعرف علي نظم تكييف الهواء ومكونات ووظيفة كل جزء لنظم تكييف الهواء وتمثيل الاجراءات علي الخريطة السيكرومترية وحساب الحمل الحراري للمكان المراد تكييفه وأجهزة التحكم في تكييف الهواء ونظم توزيع الهواء داخل الاماكن المكيفة ومسارات هواء الامداد والراجع واكتساب مهارات التفريغ والشحن والتدريب علي تتبع واكتشاف الاعطال وكيفية اصلاحها.
                                    </p>
                                </div>
                            </div>  <div class="item">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_41.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                ورشة التبريد والتكييف</h4><p>
                                        التدريب على المهارات اليدوية الميكانيكية كتشكيل المواسير لإجراء عمليات التجميع بالرباط أو اللحام والمهارات اليدوية الكهربية لدوائر التبريد والتكييف ومهارات الفك والتركيب لوحدات التبريد وتكييف الهواء ومهارات تنظيف دوائر التبريد وتفريغها وإعادة الشحن وتتبع وإكتشاف الأعطال وكيفية إصلاحها.
                                    </p>
                                </div>
                            </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-14" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-14" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3"><a href="">    <h2 class="text-center f-w">     تخصص فني تكييف وتبريد</h2> </a>  </div>
            </div>
        </div>
    </div> <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-15">
                        <div class="carousel-inner">
                            <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_44.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل Shop Turn/Mill CNC</h4><p>
                                        عمل تدريب جماعى وتفاعلى بين المدرس ومجموعة من المتدربين على البرامج المختلفة CNC.
                                    </p>
                                </div>
                            </div>          <div class="item active" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/122.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل كاد كام وCNC متقدم</h4><p>
                                        تعليم الطالب اللغات المتقدمة لبرمجة ماكينات CNC الاتية CNC Programming SINUMERIK 840D, CNC Programming FANUC 21, CNC Programming HIDENHAIN, CNC Programming FAGOR
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_49.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل ماكينات التدريب CNC متقدم</h4><p>
                                        تدريب الطالب على اعداد وتجهيز الماكينة للتشغيل و التنفيذ الفعلى  للبرامج المتقدمة على خامات خفيفة (الومنيوم ) ويتضمن تدريب   الطالب على الاتى CNC Programming SINUMERIK 840D, CNC Programming FANUC 21, CNC Programming HIDENHAIN M, CNC Programming FAGOR.
                                    </p>
                                </div>
                            </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_51.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل الاوتوكاد</h4><p>التدريب على الرسم والتصميم باستخدام الحاسب الالي عن طريق  برنامج الاتوكاد للرسومات ثنائية الابعاد ۲D  وللرسومات ثلاثية الابعاد ۳D.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_52.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل CNC تدريبي</h4><p>تدريب الطالب على اعداد وتجهيز الماكينة للتشغيل و التنفيذ الفعلى للبرامج على خامات خفيفة (الومنيوم) وضبط صفر البرنامج وتجميع عدد القطع وتثبيتها وترتيبها وقياس العدد وتسجيل القياس بصفحة الازاحات وادخال البرنامج للماكينة واختبار صحة البرنامج دون شغلة ( DRY RUN ) وتثبيت خامة الجزء المطلوب تشغيلة مع المتابعة وفك الجزء ثم عمل الصيانة اليومية.</p>      </div>  </div>          <div class="item" height="302px">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_53.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل CNC المحاكاة</h4><p>تعليم الطالب اساسيات البرمجة وعمل برامج التشغيل مع محاكاة ماكينات التدريب ويتضمن تعليم الطالب كيفية حساب واختيار شروط القطع المناسبة واختيار العدد المناسبة لخطوات التشغيل المختلفة وشرح اكواد ودورات البرمجة وجدولة احداثيات الكنتور ومواضع خطوات التشغيل المختلفة وعمل برامج تشغيل الاجزاء ومحاكاة واختبار البرامج قبل التنفيذ على ماكينات التدريب CNC.</p>      </div>  </div>  <div class="item">           <center>  <img alt="" src="../assets/img/SpecializationLab/Image_54.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">             <h4 class="color-orange">                معمل CNC إنتاجي</h4><p>تدريب الطالب على التشغيل والتنفيذ الفعلى للبرامج على خامات فعلية وضبط صفر الماكينة وتجميع عدد التشغيل وتثبيت العدد وترتيبها وقياس العدد وتسجيل القياس بصفحة الازاحات وادخال البرنامج للماكينة واختبار صحة البرنامج دون شغلة ( DRY RUN ) وتثبيت خامة الجزء المطلوب تشغيلة وفك الجزء المشغل وعمل الصيانة اليومية.</p>      </div>  </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-15" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-15" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3"><a href="">    <h2 class="text-center f-w">     تخصص فني ماكينات رقمية CNC</h2> </a>  </div>
            </div>
        </div>
    </div> <div class="margin-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="carousel slide carousel-v1" id="myCarousel-16">
                        <div class="carousel-inner">
                            <div class="item" height="302px">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_57.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                معمل الميكاترونيكس</h4><p>
                                        التعرف على العناصر والمكونات الاساسية ووسائل واساليب تشغيل ونظم التحكم ودراسة الموديولات الاساسية لنظم الميكاترونيكس.
                                    </p>
                                </div>
                            </div>  <div class="item active">
                                <center>  <img alt="" src="../assets/img/SpecializationLab/Image_59.jpg" height="302px" width="600px"></center>           <div class="carousel-caption">
                                    <h4 class="color-orange">                ورشة الميكاترونيكس </h4><p>
                                        يتم التدريب على وحدات النيوماتك والهيدروليك وبرامج التحكم الإلكتروني (الميكرو كونترولر)
                                    </p>
                                </div>
                            </div>
                        </div> <div class="carousel-arrow">     <a data-slide="prev" href="#myCarousel-16" class="left carousel-control"><i class="fa fa-angle-left">     </i></a><a data-slide="next" href="#myCarousel-16" class="right carousel-control"><i class="fa fa-angle-right"></i></a>  </div>
                    </div>
                </div>  <div class="col-md-3"><a href="">    <h2 class="text-center f-w">     تخصص فني ميكاترونيكس</h2> </a>  </div>
            </div>
        </div>
    </div>





</div>