@using TrainigSectorDataEntry.ViewModel
@model IEnumerable<SucessStoryVM>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
}

<div class="headline-center-v2 headline-center-v2-dark title margin-bottom-25">
    <h2 class="color-orange">
        @(culture == "ar" ? "قصة نجاح" : "Success Story")
    </h2>
    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
</div>

<div class="wrapper">

    @foreach (var item in Model)
    {
        var title = culture == "ar" ? item.TitleAr : item.TitleEn;

        <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
            <div class="container">
                <div class="row">

                    <div class="col-md-1"></div>

                    <!-- VIDEO -->
                    <div class="col-md-5">
                        <div class="responsive-video carousel slide carousel-v1">
                            <div class="margin-bottom-30 pull-left">

                               
                               @if (!string.IsNullOrEmpty(item.ImagePath))
                                {
                                    <img src="@item.ImagePath" class="img-responsive img-bordered" alt="">
                                }

                            </div>
                        </div>
                    </div>

                    <!-- TEXT -->
                    <div class="col-md-5">
                        <h2 class="f-w story-h2">@title</h2>
                    </div>

                    <div class="col-md-1"></div>

                </div>
            </div>
        </div>
    }

</div>
