<div class="headline-center-v2 headline-center-v2-dark title margin-bottom-25">
    <h2 class="color-orange">قصة نجاح</h2>
    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
</div>
<div class="wrapper">

    <!--=== Parallax Backgound ===-->
    <div class="parallax-counter-v2 parallaxBg1 margin-bottom-40">
        <div class="container">

            <div class="row">
                <!-- Begin Content -->
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <!-- Magazine Slider -->
                    <div class="responsive-video carousel slide carousel-v1">
                        <div class="margin-bottom-30 pull-left">



                            <iframe src="https://www.youtube.com/embed/a4M2e_YeWQ4"></iframe>



                        </div>
                    </div>
                    <!-- End Magazine Slider -->
                </div>
                <!-- End Content -->
                <!-- Begin Sidebar -->
                <div class="col-md-5">
                    <h2 class="f-w story-h2">قصة نجاح طالب هندسة</h2>
                </div>
                <div class="col-md-1">
                </div>
                <!-- End Sidebar -->
            </div>


        </div><!--/container-->
    </div>


    <!--=== End Parallax Backgound ===-->
    <!--=== Recent Posts ===-->
    <div class="margin-bottom-40">
        <div class="container">
            <div class="row">
                <!-- Begin Content -->
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <!-- Magazine Slider -->
                    <div class="responsive-video carousel slide carousel-v1">
                        <div class="margin-bottom-30 pull-left">




                            <iframe src="https://www.youtube.com/embed/F1FI4wQ0hao"></iframe>



                        </div>
                    </div>
                    <!-- End Magazine Slider -->




                </div>
                <!-- End Content -->
                <!-- Begin Sidebar -->
                <div class="col-md-5">
                    <h2 class="f-w story-h2">قصة نجاح مهندس إنتاج</h2>
                </div>
                <div class="col-md-1">
                </div>
                <!-- End Sidebar -->
            </div>


        </div><!--/container-->
    </div>
    <!--=== End Recent Posts ===-->
    <!--=== row ===-->
    <div class="parallax-counter-v2 parallaxBg1 ">
        <div class="container">

            <div class="row">
                <!-- Begin Content -->
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <!-- Magazine Slider -->
                    <div class="responsive-video carousel slide carousel-v1">

                        <div class="margin-bottom-30 pull-left">





                            <iframe src="https://www.youtube.com/embed/dJ5X_88bfls"></iframe>



                        </div>

                    </div>
                    <!-- End Magazine Slider -->




                </div>
                <!-- End Content -->
                <!-- Begin Sidebar -->
                <div class="col-md-5">
                    <h2 class="f-w story-h2">قصة نجاح مهندس تصنيع</h2>
                </div>
                <div class="col-md-1">
                </div>
                <!-- End Sidebar -->
            </div>


        </div><!--/container-->
    </div>
    <!--=== End row ===-->

</div>
