@using Microsoft.Extensions.Localization


@inject IStringLocalizer<TrainigSectorWebSite.SharedResource> SharedLocalizer
<div class=" container content height-500">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">
                <div id="sky-form3" class="sky-form">
                    <fieldset>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">
                                        @SharedLocalizer["historyMinister"]
                                        
                                    </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="align-items: center; display: flex; direction: ltr;">
                            <div class="col-md-4 ">
                                <center>
                                    <section>
                                        <!--=== View Album V2 ===-->

                                        <img alt="" src="../assets/img/kyady.jpg" class="img-responsive vision-img " />

                                        <!--=== End View Album V2 ===-->
                                    </section>
                                </center>
                            </div>
                            <div class="col-md-8">

                                <div class="bg margin-bottom-25">
                                    <div class="blog-twitter-inner">
                                        <dl class="dl-horizontal">
                                            <dt class="width-dt"><i class="fa fa-square color-orange"></i></dt>
                                            <dd>
                                                مركز اعداد القادة بقطاع التدريب يقوم  بتطوير وتنمية ورفع كفاءة القيادات بجميع مستوياتها الإدارية في قطاع الإنتاج الحربي والعمل علي تبادل الخبرات والتجارب بين المتدربين من خلال البرامج التدريبية وورش العمل في المجالات ( القياديه والاداريه -  الماليه والمحاسبيه-  العلاقات العامة والاعلام -  التسويق – القانونية – الامن والسلامة العامة – الجودة – ادرة المشتريات والمخازن والعقود ) وذلك عن طريق الاستعانة بمدربين من داخل وخارج الانتاج الحربي مشهود لهم بالكفاءة وعلي درجة عالية من الخبرة العلمية والتجربة العملية كذلك عمل ندوات شهرية تثقيفية ودينية وتأهيل كوادر الإنتاج الحربى عن طريق الاختبارات بمرحلتيها (الأولى والثانية) كما إن هدفنا الاستراتيجي يتمثل بتحقيق رضا المتدربين وتحقيق الفائدة المرجوة من مشاركتهم بالبرامج التدريبية من خلال تهيئة بيئة تدريبية مناسبة تتمثل بتوفير قاعات تدريبية و مدربين ذو كفاءات علمية وعملية وبتعاون كبير من قبل إدارة المركز مع جميع المتدربين وتذليل الصعاب.
                                                مركز اعداد القادة بقطاع التدريب حاصل علي شهادات الجودة لتدريب العاملين بقطاعات الإنتاج الحربي ( 9001 – 45001 – 14001 ) .
                                            </dd>



                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />


                      
                        <div class="row">
                            <div class="col-md-4">
                                <center>
                                    <section>


                                        <img alt="" src="..\assets\training-img\Patterns\about.png" class="img-responsive vision-img " style="margin-top:45px;">



                                    </section>
                                </center>
                            </div>
                            <div class="col-md-8">
                                <div class="headline-center-v2 headline-center-v2-dark title">
                                    <h2 class="color-orange">
                                        هيكل المعهد
                                    </h2>
                                    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                                </div>
                                <!--/Headline Center V2-->
                                <div class="bg margin-bottom-25">
                                    <div class="blog-twitter-inner">
                                        هيكل المعهد هيكل المعهد
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>