<div class=" container content height-500">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <img src="../assets/img/1.jpg" class="img-responsive img-bordered" alt="">
                        <span class="text-left">Environmental Management System</span>

                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/2.jpg" class="img-responsive img-bordered" alt="">
                        <span class="text-left">Occupational Health &amp; Safety Management System</span>
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/img/3.jpg" class="img-responsive img-bordered" alt="">
                        <span class="text-left">Quality Management System</span>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">    <center><a href="ISO.pdf" target="_blank" class="btn-u btn-u-xs btn-u-dark ">شهادات الجودة</a></center> </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>