@using TrainigSectorDataEntry.ViewModel
  @model IEnumerable<QualityCertificateVM>

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
}


<div class=" container content height-500">
    <div class="profile">
        <div class="profile-body">
            <div class="profile-bio">

                <br>
              
                <div class="row">

                    @foreach (var item in Model)
                    {
                        var certificateName = culture == "ar" ? item.TitleAr : item.TitleEn;

                        <div class="col-md-4">
                            <img src="@item.ImagePath" class="img-responsive img-bordered" alt="@certificateName" />

                            <span class="text-left">
                                @certificateName
                            </span>
                        </div>
                    }

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">    <center><a href="ISO.pdf" target="_blank" class="btn-u btn-u-xs btn-u-dark ">شهادات الجودة</a></center> </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>